function f() {
    find . -iname "$1" 2>&1 | grep -v 'Permission denied'
}


function md() {
    mkdir -p "$@" && cd "$@"
}

function cdl() {
    cd "$@"
    ls -l
}

function git-branch-diff() {
    echo "additions: $(git diff "$1..$2" | grep "^+[^+]" | wc -l)"
    echo "deletions: $(git diff "$1..$2" | grep "^-[^-]" | wc -l)"
}
